* {margin: 0; padding: 0; box-sizing: border-box; 
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome, Edge, Opera and Firefox */ }

body {
  background-color: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: white;
}

/* input 속성 */
/* form {width: 100%;} */
input { all: unset; box-sizing: border-box; appearance: none;}

/* 리스트 속성 */
ul { margin: 0;  padding: 0; list-style: none;}
li { list-style: none; margin: 0;  padding: 0; }

a { text-decoration: none; color: inherit;}
button { background-color: white; color: black;}

/* login 페이지 */
/*0. App.js */
.Initializing { position: fixed; top: 50%; left: 50%;  font-weight : bold; color: rgb(0, 110, 255);  font-size: 20px; transform: translate(-50%, -50%); text-align: center;}

/* 1. Auth.js */
.login { display : flex; flex-direction: column; align-items :center}
.logo {  margin-top : 120px; font-size: 36px;  color: rgb(0, 110, 255); text-align: center;}
/* Auth.js -google / github 간편로그인 */
.authBtns {  margin-top: 48px;  display: flex;  flex-direction:column; width: 100%;  max-width: 320px; }
.authBtn { height:40px; line-height:40px; width: 320px; border-radius:5px; border:none; font-style: 18px; color:#fff; transition : all .5s; cursor:pointer}
.authBtn:first-child {background : #ddd; color:#000;} .authBtn:first-child:hover {background : #fff;}
.authBtn:last-child {margin-top: 12px; background : #000;} .authBtn:last-child:hover {background : #111;}

/* 2. AuthForm.js */
.container { display: flex; flex-direction: column; width: 100%; max-width: 320px;}
/* 이메일 / 비밀번호 input */
.container input { margin-top : 16px; padding-left: 16px; width: 100%; height: 40px; line-height: 40px; border-radius : 4px; background-color: #000; border : 1px solid #444; color : #eee }
.container input:first-child { margin-top : 60px;}
.container input:focus { border: 2px solid rgb(0, 110, 255);} 
/* 로그인/새계정 만들기 Btn */
.container input.loginbtn { padding :0;  height: 50px; text-align: center; font-size: 16px; font-weight:bold; color : #fff;  background-color : rgb(0, 56, 129); border: none; cursor: pointer; transition : all 0.5s
}
.container input.loginbtn:hover {background-color : rgb(0, 110, 255);}
/*새계정 만들기 / 로그인 작은 Btn  */
.loginspan {margin-top : 48px;  height: 30px; width:100px; line-height: 30px; text-align: center; border-bottom : 1px solid rgb(101, 150, 255); color: rgb(101, 150, 255); cursor : pointer; transition : all 0.5s }
.loginspan:hover { color : #fff; border-bottom : 1px solid #fff;}

/* 3. Navigation.js - 상단nav  Home / Profile */
.nav { width: 100%;  height: 50px; box-shadow: 0 2px 4px #000 }
.nav-list { margin: 0 auto; display:flex; justify-content: space-between; max-width: 1280px; min-width: 320px; padding: 0 16px;}
.nav-list li {line-height:50px; font-size: 16px;}
.nav-list li:first-child {color: rgb(0, 110, 255); font-size: 24px; transition: all 0.5s} .nav-list li:first-child:hover {color: #fff;}
.nav-list li:last-child {width: 300px; text-align :right; color: #ccc; transition: all 0.5s} .nav-list li:last-child:hover {color: #fff;}

/* 4. Profile.js */
.logout {display: flex; justify-content: center;  margin-top: 48px;}
/* 닉네임 input / 저장 Btn */
.logout input { height: 40px;  line-height: 40px; border-radius : 4px; background-color: #000; border : 1px solid #444; color : #eee }
.logout input:first-child {padding-left: 16px; width: 290px; }
.logout input:last-child {margin-left: 10px; width: 80px; font-weight: bold; text-align:center; background:rgb(0, 110, 255); cursor: pointer; }
/* 로그아웃 버튼 */
.logoutbtn { position:fixed; bottom : 40px; left: 50%; transform: translate(-50%); margin-top: 36px; width:380px; height: 40px;  line-height: 40px; border-radius : 4px; background-color: #151515; color : #eee; border:none; cursor:pointer; transition: all 0.5s}
.logoutbtn:hover {background : #000}

/* 5. Home.js  - 트윗한 내용 */ 
.home {display: flex; flex-direction:column; width: 100%;}

/* 6. NweetFactory.js -트윗 작성 */
.nweetcontnet {width:100%; box-sizing: border-box;  background: #111; box-shadow: 0 2px 4px #000;}
.nweetform {position: relative; margin: 0 auto; padding: 0 16px; max-width: 1280px; min-width: 320px }
.nweetinput {margin-top: 24px; padding:8px 12px; width:100%; height: 140px; border : 1px solid #444; border-radius: 4px; background: #000; color: #fff;}
.nweetinput:focus { border: 2px solid rgb(0, 110, 255);} 
.flie {display: none;}
.fliebtn {position: absolute; right:24px; bottom: 94px; padding : 1.5px 14px 0; height: 35px; line-height: 35px; background:#222; border-radius:4px; border:none; cursor:pointer; transition : all 0.5s;}
.fliebtn:hover {background: rgb(0, 110, 255); color: #fff;} .fliebtn i {font-size: 18px; } 
.nweet {margin : 16px 0 24px; width:100%; height: 40px; text-align:center; font-size: 16px; letter-spacing: 10px; font-weight:bold; background:  rgb(0, 56, 129); color: #fff; cursor:pointer; transition : all 0.5s;}
.nweet:hover {background-color : rgb(0, 110, 255);}
.fileimg {margin-top: 16px; width:100%; }
.cancelimg{ margin-top: 8px; width:100%; height: 40px; text-align:center; border:1px solid rgb(255, 0, 0) ; border-radius: 4px; ; background-color: #111; color: rgb(255, 0, 0); cursor:pointer; transition : all 0.5s;}


/* 7. Nweet - 트윗/수정 */
.content {width: 100%;}
/* 보이는 트윗 */
.textwarp { border-bottom: 20px solid #111 }
.textcontent {position: relative; margin: 0 auto; padding: 20px 16px;  max-width: 1280px; min-width: 320px; }
.contentimg { width: 100%; margin-bottom: 16px;}
.todaytitle { color: rgb(0, 110, 255); font-weight: bold;}
.todaytitle .date { margin-left: 10px; color: #999; font-weight: normal;}
.text {margin: 12px 0 16px; padding: 12px 10px; font-weight: normal; background: #111; color:#eee; border-radius: 4px}
/* 보이는 트윗 & 수정트윗 하단버튼 */
.setting {display: flex; justify-content: flex-end;}
.setting button, .setting input {padding: 3px 20px; border-radius:4px; cursor:pointer}
.correction {border:1px solid #aaa; color:#aaa; background-color: #222;}
.complete {border:1px solid rgb(0, 56, 129); color:#fff; background-color: rgb(0, 56, 129); font-weight: bold;}
.delete, .cencebtn {margin-left:10px; border:1px solid rgb(255, 0, 0); color:rgb(255, 0, 0); background-color: #222; }
/* 수정트윗 */
.correctioninput {margin-bottom: 16px; padding:8px 12px; width:100%; height: 140px; border : 1px solid #444; border-radius: 4px; background: #000; color: #fff;}
.correctioninput:focus { border: 2px solid rgb(0, 110, 255);} 

/* address */
address {padding-bottom:20px ; font-style: normal; text-align: center; font-size: 12px; background: #111; color: #666;}